source https://api.nuget.org/v3/index.json

nuget FluentAssertions
nuget MahApps.Metro
nuget Newtonsoft.Json
nuget OneOf
nuget System.Collections.Immutable
nuget System.Interactive 
nuget System.Reactive
nuget System.ValueTuple
nuget xunit